*{
	margin: 0;
	padding: 0;
	font-family: 'Akshar', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("images/goodmanfood.jpeg");
	background-position: center;
	background-size: cover;
	position: relative;
}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav img{ 
	width: 150px;
		
}

.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relitive;
}

.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #6f0010;
	display: block;
	margin: auto;
	transition: 0.2s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

.text-box {
	width: 100%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	padding: 2rem;
}

.text-box h1{
	font-size: 68px;
	color: #de9821;
}

.text-box p{
	margin: 10px 0 40px;
	font-size: 20px;
	color: #fff;
}

.hero-bt {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 3px solid #fff;
	border-radius: 15px;
	padding: 12px 34px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.hero-bt:hover{
	border: 2px solid #6f0010;
	background: #6f0010;
	transition: .5s;
	box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
}


nav .fa{
	display: none;
}
@media(max-width: 1000px){
	.text-box h1{
		font-size: 52px;
		
	}
	.text-box h3{
		font-size: 22px;
}
	.text-box p{
		margin: 12px 0 30px;
		font-size: 18px;
	}
	.hero-bt{
		padding: 10px 26px;
		font-size: 18px;
	}
}
@media(max-width: 700px){
	.text-box h1{
		font-size: 46px;
		
	}
	.text-box h3{
		font-size: 18px;
}
	.text-box p{
		margin: 12px 0 30px;
		font-size: 14px;
	}
	.hero-bt{
		padding: 10px 18px;
		font-size: 16px;
	}
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: absolute;
		background: #6f0010;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: .5s;
	}
	nav .fa {
	display: block;
	color: #fff;
	margin: 10px;
	font-size: 22px;
	cursor: pointer;
	}
	.nav-links ul{
		padding: 30px;
		
	}
}
@media(max-width: 450px){
	.text-box h1{
		font-size: 40px;
		
	}
	.text-box h3{
		font-size: 18px;
}
	.text-box p{
		margin: 12px 0 30px;
		font-size: 14px;
	}
	.hero-bt{
		padding: 6px 14px;
		font-size: 14px;
		border-radius: 10px;
	}
}
@media(max-height: 700px){
	.text-box{
		margin-top: 4rem;
}
}
/*---------fix font size at 700px-----*/
/*-------Services--------*/


.services{
	width: 90%;
	margin: auto;
	text-align: left;
	padding-top: 100px;

}

.contact{
    width: 90%;
    margin: auto;
    text-align: right;
    padding-top: 100px;
}

h1{
	font-size: 40px;
	font-weight: 600;
}

p{
	font-size: 20px;
	color: #000;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
	
p a{ 
	text-decoration: none;
	color: #6e1825;
}

.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.services-col{
	flex-basis: 31%;
	background: #996515;
	border-radius: 15px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.4);
	
}

h3{
	text-align: center;
	font-size: 24px ;
	font-weight: 6000;
	margin: 10px 0;
		
}

h2{
	text-align: center;
	font-size: 22px ;
	font-weight: 500;
	margin: 10px 0;
		
}

.services-col:hover {
	box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
	transition: .5s;

}

@media(max-width: 1000px){
	.row{
	flex-direction: column;
	}
}
@media(max-width: 1000px){
	 h1{
		font-size: 40px;	
	}
	 h3{
		font-size: 22px;
}
	 p{
		font-size: 20px;
	}
}
@media(max-width: 700px){
	 h1{
		font-size: 32px;
		
	}
	 h3{
		font-size: 20px;
}
	 p{
		font-size: 18px;
	}
}
@media(max-width: 450px){
	 h1{
		font-size: 26px;
		
	}
	 h3{
		font-size: 18px;
}
	 p{
		font-size: 14px;
	}
}
.text-box2 h1{
    font-size: 62px;
    color: #de9821;
}

.text-box2 p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #000;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 3px solid #000;
	border-radius: 15px;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
}


.hero-btn:hover{
    border: 2px solid #6f0010;
    background: #6f0010;
	color: #fff;
    transition: .5s;
	box-shadow: 0 0 5px 5px rgba(0,0,0,.4);
}
/*--------------Menu------------------*/
.menu{
	width: 90%;
	margin: auto;
	text-align: left;
}

@media(max-width: 1000px){
	.text-box2 p{
	   font-size: 20px;
	   text-align: left;
   }
   .hero-btn {
	border-radius: 15px;
    padding: 10px 26px;
    font-size: 18px;
}
.hero-btn {
	border-radius: 15px;
    padding: 10px 26px;
    font-size: 18px;
}
}

@media(max-width: 700px){
	.text-box2 p{
	   font-size: 18px;
	   text-align: left;
   }
   .hero-btn{
	padding: 10px 18px;
	font-size: 16px;
}
}
@media(max-width: 450px){
	.text-box2 p{
	   font-size: 14px;
	   text-align: left;
   }
   .hero-btn{
	padding: 6px 14px;
	font-size: 14px;
	border-radius: 10px;
}
}

/*-----------Gallery--------------*/

.galbackground{
	background: #fff;
	
}

.photogallery{
    width: 85%;
    margin: auto;
    text-align: left;
    padding-top: 100px;
	padding-bottom: 25px;
}

.body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0 10px;

}

.wrapper{
	max-width: 100%;
	min-height: 80%;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
}

.wrapper i{
	top: 50%;
	height: 45px;
	width: 46px;
	cursor: pointer;
	position: absolute;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 1.2rem;
	text-align: center;
	line-height: 46px;
	background: #d4d4d4;
	opacity: .7;
	border-radius: 50%;
	transform: translateY(-50%);	
}

.wrapper i:hover{
	opacity: .2
}

.wrapper i:first-child{
	left: -23px;
}
.wrapper i:last-child{
	right: -23px;
}

.wrapper .carousel{
	white-space: nowrap;
	font-size: 0px;
	cursor: pointer;
	scroll-behavior: smooth;
	overflow: hidden;
	box-shadow: 0 0 8px 8px rgba(0,0,0,.4);
}

.carousel img{
	height: 600px;
	object-fit: cover;
	width: calc(100% /3);
	margin-left: 10px;
}

.carousel img:first-child{
	margin-left: 0px;

}

@media screen and (max-width: 1300px) {
	.carousel img{
		width: calc(100% / 2);
}
@media screen and (max-width: 700px) {
	.carousel img{ 
		width: 100%;
	}
}
h2{
	font-size: 32;
	font-weight: 600;
}
}



/*---------------Contact us-----------------*/
.contactus{
    width: 100%;
	margin: auto;
    text-align: left;
    padding-top: 100px;
	padding-bottom: 50px;
	
}
.contact_container{	
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact_item{
	width: 100%;
	height: 100%;
	max-width: 1000px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
	overflow: hidden;
	grid-template-columns: repeat(2, 1fr);
	display: grid;
	z-index: 1000;
}

.contactbottom{
	background-image: linear-gradient(rgba(9, 10, 12, 0.87),rgba(4,9,30,0.7)),url("images/formphoto.jpg");
	background-position: center;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	padding: 2rem;
}

.submit-form{
	background: #6e1825;
	display: flex;
	flex-direction: column;
	align-items: left;
	padding: 2rem;
}

.first-text{
	color: #fff;
	font-size: 40px;
	font-weight: 600;	
}
.social-media{
	display:flex;
	list-style: none;
	justify-content: left;
	padding: 1rem;
}
.second-text{
	color: #fff;
	font-size: 36px;
	font-weight: 500;
}

.third-text{
	color: #fff;
	font-size: 40px;
	font-weight: 600;
}
.social-media li {
	padding-right: 1rem;
}
.social-media i {
	background: #fff;
	color: #6e1825;
	padding: 8px;
	border-radius: 8px;
	transition: .3s;
}

.social-media i:hover {
	background: linear-gradient(to right, #6e1825, #996515);
	color: #fff;
}

form {
	height: 100%;
	width: 100%;
	padding: 1rem;
}
.input-box{
	height: 40px;
	width: 100%;
	position: relative;
	align-items: center;
	margin-top: 2rem;
}

.input{
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(4, 9, 30, 0),rgba(4, 9, 30, 0.24));
	border: 2px solid #fff;
	border-radius: 15px;
	outline: #fff;
	padding-left: 12px;
	color:#fff;
	font-size: 18px;
}

.input-box lable {
	position: absolute;
	top: 60%;
	left: 10px;
	padding-left: 8%;
	transform: translateY(-60%);
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	
}

.input-box .input:focus ~ lable,
.input-box .input:valid ~ lable{
	top: -6px;
	left: 10px;
	font-weight: 500;
	font-size: 15px;
}

textarea.input{
	resize: none;
	height: 150px;
}

.btn{
	position: relative;
	background: #fff;
	color: #6e1825;
	outline: none;
	border-radius: 5px;
	height: 45px;
	width: 30%;
	font-size: 20px;
	align-items: center;
	margin-top: 10rem;
}

.btn:hover{
	border: 2px solid #fff;
	background:#6e1825;
	color: #fff;
	transition: .5s;
	box-shadow: 0 0 20px 10px rgba(0,0,0,.4);
}

@media(max-width:1050px){
	.contact_item{
		grid-template-columns: 1fr;
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.contact_container{	
		width: 100%;
		height: 120vh;
	}
	.contactbottom{
		min-height: 15rem;
		align-items: center;
	}
	.first-text{
	text-align: center;	
	font-size: 32px;
	}
	.second-text{
		text-align: center;
		font-size: 24px;
	}

	.third-text{
		font-size: 30px;
		position: relative;
		color: #fff;
		text-align: center;
	}
	.btn{
		height: 35px;
		width: 30%;
		font-size: 16px;
		align-items: center;
		margin-top: 9rem;
	}
	.submit-form{
		min-height: 100%;
	}
}

@media(max-width:600px){
form{
	padding: 0;
	}
.input-box{
	height: 35px;
	width: 100%;
	position: relative;
	align-items: center;
	margin-top: 1.5rem;
}
.input{
	font-size: 16px;
}
}


@media(max-height:850px){
.contact_container{	
	width: 100%;
	height: 110vh;
}
}
@media(max-height:755px){
	.contact_item{
		grid-template-columns: 1fr;
		margin-left: 1rem;
		margin-right: 1rem;
	}
	.contact_container{	
		width: 100%;
		height: 150vh;
	}
	.first-text{
		text-align: center;
	}
	}
	@media(max-width:450px){
	.contact_item{
		grid-template-columns: 1fr;
		margin-left: .5rem;
		margin-right: .5rem;
	}
}


/*-----------600 px make font smaller and text center-----------*/

/*---------------footer-----------*/
.footer {
	padding: 10px 0;
	/*background-color: #4b4c4d;*/
	background: linear-gradient(to right, #6e1825, #996515);
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	box-shadow: 0 0 15px 5px rgba(0,0,0,.4);
}

.footer .social {
	text-align: center;
	padding-bottom: 20px;
	color: #fff;
}

.footer .social a {
	font-size: 20px;
	color: #000;
	border: 1px solid #000;
	width: 40px;
	height:40px;
	line-height: 38px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	margin: 0 8px;
	opacity: 0.75;
}

.footer .social a:hover{
	background: linear-gradient(to right, #6e1825, #996515);;
	color:#fff;
}

.footer ul {
	margin-top: 0;
	padding: 0;
	text-align: center;
	list-style: none;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 12px;
}

.footer ul li a {
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
}

.footer ul li {
	display: inline-block;
	padding: 0 15px;

}

.footer ul li a:hover {
	text-shadow: 1px 1px;
}

.footer .copyright{
	text-align: center;
	font-size: 14px;
	color: #000;

}